<td *ngIf="purchase.id">{{purchase.id}}</td>
<td><input type="text" placeholder="buyerName" name="buyerName" required [(ngModel)]="purchase.buyerName"></td>
<td><input type="text" placeholder="productName" name="productName" [(ngModel)]="purchase.productName"></td>
<td><input type="number" placeholder="priceInCents" name="priceInCents" min="1" [(ngModel)]="purchase.priceInCents">
</td>
<td><input type="date" placeholder="buyDate" name="buyDate" [(ngModel)]="purchase.buyDate"></td>
<td>
  <button type="submit" class="btn btn-success" (click)="createOrUpdatePurchase()">Submit</button>
</td>
<p *ngIf="created">Entry was created</p>
